CLOUD_AGENT_BASE_URL=http://127.0.0.1:8787
LOCAL_ORCHESTRATOR_PORT=7071
CLOUD_AGENT_PORT=8787
VITE_LOCAL_ORCHESTRATOR_URL=http://127.0.0.1:7071
COPILOT_MODEL=auto
COPILOT_GITHUB_TOKEN=
HYBRID_AGENT_MOCK_MODE=